<div class="bg-white border-end sidebar p-3">
  <h5 class="mb-3">Pharmacist</h5>

  <aside id="sidebar" aria-label="Sidebar" class="list-group">
    <h4>PharmaCare</h4>
    <a href="pharmacist-dashboard.html" class="list-group-item list-group-item-action nav-link">Dashboard</a>
    <a href="medicines.html" class="list-group-item list-group-item-action nav-link">Medicines</a>
    <a href="prescriptions.html" class="list-group-item list-group-item-action nav-link">Prescriptions</a>
    <a href="support.html" class="list-group-item list-group-item-action nav-link">Support</a>
    <a href="profile.html" class="list-group-item list-group-item-action nav-link">Profile</a>
  </aside>
</div>
